extends layout

block content
  #speaker-container
    #speaker-floater
    #speaker-overlay-back
    #speaker-overlay-text
      h1 I am Rob Ashton
      p A freelance "do it all" guy
  #features
    p javascript
    p node.js
    p .net
    p ruby
    p automation
    p testing
    p education

  #testimonials
    .dec
      .dec-one
      .dec-two
      .dec-three

    h2 My clients say it better than I can
    .item
      blockquote Zero nonsense to deal with, just a lot of good code, flying by very quickly
      .client
        p Oren Eini AKA Ayende Rahien
        p Wizard
        p Hibernating Rhinos LTD
    .item
      blockquote Rob is one of those rare developers that combines excellent skill, communication ability, long-term technical vision, and justified confidence in his skills
      .client
        p Alexandros Marinos
        p Founder
        p Rulemotion Ltd
    .item
      blockquote Rob gave our project a great boost. Thanks to his intense focus and pragmatic approach we got a high quality minimal viable product launched in just a week
      .client
        p Samuel Jack
        p Founder
        p Truthvine
    p.readmore.btn.btn-large
      a(href="/testimonials") Read More

  #howitworks
    h2 Hiring me
    p I like to build long term relationships with clients
    p I charge an affordable ~£500 a day
    p I prefer to work on projects for short term sprints (1-2 weeks)
    p I prefer to move around during the day, coffee shops are my ideal work environment
    p I will work on anything, if I don't know it, I <strong>will</strong> learn it.
    p I will leave behind a legacy of improvement and change
    


    
