extends layout

block content
  #speaker-container
    #speaker-floater
    #speaker-overlay-back
    #speaker-overlay-text
      h1 I am Rob Ashton
      p A freelance "do it all" guy
  #features
    .rollover
      .summary
        p.btn javascript
      .content
        p I know JS
    .rollover
      .summary
        p.btn node.js
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn .net
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn ruby
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn automation
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn testing
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn education
      .content
        p this is a placeholder

  #who
    h2 What do I do?
    p I'm a freelance developer focused on short-term/high-value sprints, helping teams who are in need of a hand to <em>get stuff done</em>.
    p I don't live anywhere, preferring to remain mobile and have the flexibility to travel to client sites over the globe.
    p I generally work remote, but like (if feasible) to spend some time with the team in person wherever that might be.

  #testimonials

    h2 My clients say it better 
    .item
      .rollover
        .summary 
          .more more...
          blockquote "Zero nonsense to deal with, just a lot of good code, flying by very quickly"
          .client
            p.primary Oren Eini AKA Ayende Rahien
            p Wizard
            p Hibernating Rhinos LTD
        .content
          The full quote
    .item
      .rollover
        .summary 
          .more more...
          blockquote "Rob is one of those rare developers that combines excellent skill, communication ability, long-term technical vision, and justified confidence in his skills"
          .client
            p.primary Alexandros Marinos
            p Founder
            p Rulemotion Ltd
        .content
          The full quote
    .item
      .rollover
        .summary 
          .more more...
          blockquote "Rob gave our project a great boost. Thanks to his intense focus and pragmatic approach we got a high quality minimal viable product launched in just a week"
          .client
            p.primary Samuel Jack
            p Founder
            p Truthvine
        .content
          The full quote
    .item
      .rollover
        .summary 
          .more more...
          blockquote "Having worked on a large greeenfield project with Rob I can testify to his unbounding enthusiasm and expansive knowledge that combined act as a driving force in moving a team towards delivery."
          .client
            p.primary Ian Battersby
            p Colleague/Contractor 
            p GTI Online Solutions
        .content
          The full quote goes here

  #howitworks
    .code
    h2 Hire me
    p I charge £500 a day.
    p I prefer to work on projects for short term sprints (1-2 weeks).
    p I prefer to move around during the day, coffee shops are my ideal work environment.
    p I will work on anything, if I don't know it, I <em>will</em> learn it - I always do.
    p I will leave behind a legacy of improvement and change.
    p I will come back for more if we work well together.
    
  #more
    h2 More
    p My blog can be found at <a href="http://codeofrob.com">codeofrob.com</a>
    p My Twitter can be found at <a href="http://twitter.com/robashton">@robashton</a>
    p My Github can be found at <a href="http://github.com/robashton">github.com/robashton</a>


    
