extends layout

block content
  #speaker-container
    #speaker-floater
    #speaker-overlay-back
    #speaker-overlay-text
      h1 I am Rob Ashton
      p A freelance "do it all" developer
  #features
    .rollover
      .summary
        p.btn javascript
      .content
        h2 JAVASCRIPT
        p I have beenjavascript writing JS since before it was cool, both for business software and also for fun.
        p I have written many complex client-side applications, including multiplayer 3D games and reporting applications. 
        p My preferred stack for client-side development is Browserify, Grunt and NPM modules for every little thing, but I'm happy to work in any framework of client choosing.
        p I believe that JS is an awful language but it's the best we've got at the moment.
    .rollover
      .summary
        p.btn node.js
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn .net
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn ravendb
      .content
        h2 RavenDB
        p I am a core contributor to the document oriented database RavenDB
        p I have been involved with it for several years now, having contributed several important features over that time
        p I am occasionally employed by Hibernating Rhinos to provide further work to this product, and deliver training and talks to both companies and conferences on the subject
    .rollover
      .summary
        p.btn ruby
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn automation
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn testing
      .content
        p this is a placeholder
    .rollover
      .summary
        p.btn education
      .content
        p this is a placeholder

  #who
    h2 What do I do?
    p I'm a freelance developer focused on short-term/high-value sprints, helping teams who are in need of a hand to <em>get stuff done</em>.
    p I don't live anywhere, preferring to remain mobile and have the flexibility to travel to client sites over the globe.
    p I generally work remote, but like (if feasible) to spend some time with the team in person wherever that might be.

  #testimonials

    h2 My clients say it better 
    .item
      .rollover
        .summary 
          .more more...
          blockquote "Zero nonsense to deal with, just a lot of good code, flying by very quickly"
          .client
            p.primary Oren Eini AKA Ayende Rahien
            p Wizard
            p Hibernating Rhinos LTD
        .content
          h2 Oren Eini AKA Ayende Rahien
          p The first time I met Rob, he was spouting some utter nonsensical drivel. So I did the proper thing and told him that what he suggested wasn't possible, and if he thought it was, he could go and code it. 
          p That ended the conversation as far as I was concerned, and I was quite sure that I'd never hear from him again. Less than 24 hours, he was back, and he had a solution coded, for the problem I considered impossible. After I picked my jaw off the floor, I was quite impressed.
          p That feature is now one of the major distinguishing feature for RavenDB (dynamic queries). Since then, I have had the pleasure of working with Rob on several occasions. It has been a pleasure, because there is zero nonsense to deal with, just a lot of good code, flying by very quickly.
          p The last time I had a chance to work with Rob, he stayed for a week, and we worked for six months to catch up. Large parts of the RavenDB 2.5 release was written by Rob during that single week. 
          He is one of the people in the short list I would go to if I needed help or feedback, from "how do I design this distributed system to be reliable &amp; fast" to "can you help me trace this race condition?". 
    .item
      .rollover
        .summary 
          .more more...
          blockquote "Rob is one of those rare developers that combines excellent skill, communication ability, long-term technical vision, and justified confidence in his skills"
          .client
            p.primary Alexandros Marinos
            p Founder
            p Rulemotion Ltd
        .content
          h2 Alexandros Marinos, Rulemotion Ltd
          p Rob is one of those rare developers that combines excellent skill, communication ability, long-term technical vision, and justified confidence in his skills. 
          p During his time with us, we gave him a project that we hoped he would make some early progress on, and he proceeded to produce a working prototype. This project included having to learn an esoteric parsing language, for which he wrote a tutorial at the same time.
          p In addition, he left our organisation with some long-term improvements in our architecture and testing approach. I can hardly reccommend working with Rob more.
    .item
      blockquote(style="margin-right:100px") "Rob gave our project a great boost. Thanks to his intense focus and pragmatic approach we got a high quality minimal viable product launched in just a week"
      .client
        p.primary Samuel Jack
        p Founder
        p Truthvine
    .item
      .rollover
        .summary 
          .more more...
          blockquote "Having worked on a large greeenfield project with Rob I can testify to his unbounding enthusiasm and expansive knowledge that combined act as a driving force in moving a team towards delivery."
          .client
            p.primary Ian Battersby
            p Colleague/Contractor 
            p GTI Online Solutions
        .content
          h2 Ian Battersby, GTI Online Solutions
          p Having worked on a large greeenfield project with Rob I can testify to his unbounding enthusiasm and expansive knowledge that combined act as a driving force in moving a team towards delivery. 
          p His uncomprising approach to quality and standards leave team members assured they are producing something truly robust and worthy of their effort.
          p Given his ability to bring knowledge and energy to a project I once described Rob akin to Nuclear Fusion, handled carefully you can harness great power and yield amazing results, but failure to meet expectations of passion and excellence can have serious fallout. Use him wisely ;-)

  #howitworks
    .code
    h2 Hire me
    p I charge £500 a day.
    p I prefer to work on projects for short term sprints (1-2 weeks).
    p I prefer to move around during the day, coffee shops are my ideal work environment.
    p I will work on anything, if I don't know it, I <em>will</em> learn it - I always do.
    p I will leave behind a legacy of improvement and change.
    p I will come back for more if we work well together.
    h2 Get in touch
    p Email: <a href="mailto:robashton@codeofrob.com"/>robashton@codeofrob.com</a>
    p Phone: +44 (0)7429 xxx xxx
    p Skype: rob_ashton
    
  #more
    h2 More
    p My blog can be found at <a href="http://codeofrob.com">codeofrob.com</a>
    p My Twitter can be found at <a href="http://twitter.com/robashton">@robashton</a>
    p My Github can be found at <a href="http://github.com/robashton">github.com/robashton</a>


    
