doctype 5
html
  head
    title AshtonDev.com ( Rob Ashton )
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
