body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.container
  padding: 0
  width: 1000px

#speaker-container
  display: block
  height: 600px

#speaker-floater
  position: absolute
  top: 90px
  width: 1000px
  height: 500px
  background-image: url('/images/splash.jpg')
  background-repeat: no-repeat
  background-position: 0px 0px
  border: solid #000 2px
  z-index: -1

#speaker-overlay-text
  position: absolute
  color: #222
  display: table
  width: 985px
  height: 90px
  top: 450px
  margin: 0 auto
  padding-left: 20px

#speaker-overlay-back
  position: absolute
  width: 1000px
  height: 90px
  top: 450px
  margin: 0 auto
  background-color: #DDD
  opacity: 0.8
  border-left: solid 2px #000
  border-right: solid 2px #000

#features
  width: 1000px
  margin-top: 10px
  height: 50px
  p
    text-transform: uppercase
    margin-right: 20px
    font-weight: bolder
    float: left
    background-color: #000080
    color: #FFF
    padding: 20px 20px

#testimonials
  float: none
  clear: both
  width: 1000px
  margin-top: 30px

  .item
    float: none
    clear: both
    height: 70px
    margin-top: 10px

  .client 
    float: right
    width: 400px
    p
      line-height: 0.5
      font-weight: bold
  blockquote
    font-style: italic
    float: left
    width: 400px

#howitworks
  float: none
  clear: both
  width: 1000px
  margin-top: 50px
  h2
    margin-top: 30px
  p
    padding: 2px 0px
    line-height: 0.5


