body
  font: 14px Roboto
a
  color: #00B7FF

.container
  padding: 0
  width: 1000px

#speaker-container
  display: block
  height: 600px

#speaker-floater
  position: absolute
  top: 90px
  width: 1000px
  height: 500px
  background-image: url('/images/splash.jpg')
  background-repeat: no-repeat
  background-position: 0px 0px
  border: solid #000 2px
  z-index: -1

#speaker-overlay-text
  position: absolute
  color: #222
  display: table
  width: 985px
  height: 90px
  top: 450px
  margin: 0 auto
  padding-left: 20px

#speaker-overlay-back
  position: absolute
  width: 1000px
  height: 90px
  top: 450px
  margin: 0 auto
  background-color: #DDD
  opacity: 0.8
  border-left: solid 2px #000
  border-right: solid 2px #000

#features
  width: 1000px
  margin-top: 10px
  height: 50px
  p
    text-transform: uppercase
    margin-left: 34px
    font-weight: bolder
    float: left
    padding: 20px 20px

#testimonials
  float: none
  clear: both
  width: 1000px
  margin-top: 30px

  .dec
    position: absolute

  .dec-one
    position: absolute
    width: 200px
    height: 200px
    background-color: #222288
    opacity: 0.1
    z-index: -1

  .dec-two
    position: absolute
    top: 100px
    left: 200px
    width: 220px
    height: 200px
    background-color: #228822
    opacity: 0.1
    z-index: -1

  .dec-three
    position: absolute
    top: 50px
    left: 420px
    width: 220px
    height: 200px
    background-color: #888822
    opacity: 0.1
    z-index: -1

  .dec-four
    position: absolute
    top: 150px
    left: 640px
    width: 220px
    height: 200px
    background-color: #000
    opacity: 0.1
    z-index: -1

  h2
    margin-bottom: 20px

  .item
    float: none
    clear: both
    height: 70px
    margin-top: 10px

  .more
    float: right
    margin-right: 20px
    cursor: pointer
    color: #44F

  .client 
    float: left
    width: 250px
    border-left: 5px solid #88d
    padding-left: 15px
    padding-top: 5px
    p
      line-height: 0.9

  blockquote
    font-style: italic
    float: right
    margin-right: 40px
    border: none
    width: 500px

#who
  margin-top: 40px

#more
  background-color: #FFF
  width: 600px
  height: 300px
  float: none
  clear: both


#howitworks
  background-color: #FFF
  float: none
  clear: both
  width: 600px
  height: 200px
  h2
    margin-top: 30px
  p
    padding: 2px 0px
    line-height: 0.9

  .code
    z-index: -1
    position: absolute
    left: 820px
    background-image: url('/images/code.png')
    background-repeat: no-repeat
    background-position: 0px 0px
    width: 500px
    height: 400px
    opacity: 0.3

.rollover
  .content
    display :none
